:root {
    --primary-color: #007bff;
    --secondary-color: #333;
    --background-color: #f8f8f8;
    --white-color: #ffffff;
    --light-grey-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--secondary-color);
    background-color: var(--background-color);
}

header {
    background-color: var(--white-color);
    border-bottom: 2px solid var(--primary-color);
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img.logo {
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

nav ul li a:hover {
    border-bottom-color: var(--primary-color);
}

.header-content {
    text-align: center;
    margin-top: 100px;
}

.header-content h2 {
    margin-bottom: 10px;
}

.header-content .star-image {
    display: block;
    margin: 0 auto;
}

.hotel-details {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--white-color);
    margin-bottom: 20px;
}

.detail-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.detail-item img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    margin-top: 0;
    color: var(--secondary-color);
}

.booking-number, .check-details, .booking-details, .price-details {
    margin-bottom: 20px;
}

.check-details div {
    display: inline-block;
    width: 45%;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--light-grey-color);
}

.booking-details .detail-item, .price-details .detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.booking-details .detail-item .label, .price-details .detail-item .label {
    flex-basis: 40%;
    text-align: left;
}

.booking-details .detail-item .value, .price-details .detail-item .value {
    flex-basis: 55%;
    text-align: right;
}

.manage-booking {
    text-align: center;
}

.manage-booking button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.manage-booking button:hover {
    background-color: #0056b3;
}
