* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #ffffff;
  border-bottom: 2px solid #007bff;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 40px;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo {
  height: 30px;
  position: absolute;
  left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}


nav .icon {
  height: 40px;
  position: absolute;
  right: 20px;
}

.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #d9d9d9;
  border: 1px solid #042048;
  color: #ABCDF6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 200px;
  border-radius: 5px;
}

.dropdown a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #042048;
  border-bottom: 1px solid #042048;
  font-weight: bold;
}

.dropdown a:hover {
  background-color: #ABCDF6;
}

.dropdown a:last-child {
  border-bottom: none;
}

.dropdown.active {
  display: block;
}



.form-container {
  text-align: center;
  margin-top: 100px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group img{
  margin-right: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group div {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-group input,
.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.search-button {
  padding: 10px 20px;
  background-color: #0078f8;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.search-button:hover {
  background-color: #005bbd;
}


.available-rooms {
  margin-top: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 20px auto;
}

.room-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.room-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.room-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.room-details {
  padding: 20px;
}

.room-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.room-details .description {
  color: #666;
}

.room-details .price {
  font-weight: bold;
  margin-bottom: 10px;
}

.features {
  display: flex;
  margin-bottom: 10px;
}

.feature {
  margin-right: 10px;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
}

.buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.book-now-button {
  display: block;
  width: 100%;
  background-color: #28a745;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.book-now-button:hover {
  background-color: #218838;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-column {
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.feature-item {
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.feature-item img {
  max-width: 50px;
  margin-bottom: 10px;
}

.feature-item p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.feature-column button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.feature-column button:hover {
  background-color: #e0e0e0;
}

.feature-content {
  display: flex;
  align-items: center;
}

.feature-content img {
  max-width: 30px;
  margin-right: 10px;
}

.feature-content p {
  margin: 0;
  font-size: 14px;
  color: #333;
}
